@import "tailwindcss";

:root {
  --color-bg: #ffffff;
  --color-navbar-bg: #AB0A36;
  --color-navbar-text: #ffffff;

  --color-card-bg: #f9f9f9;

  --color-select: #F7A5C0;
  --color-text: #562230;
  --color-badge: #F4611E;
  --color-badge-light: #f0773f;
  --color-button-pink: #ff1764;
  --color-button-pink-light: #ff368a;
}

h2 {
  font-family: var(--font-inter), sans-serif;
  font-weight: 500;
  font-style: italic;
  color: var(--color-text);
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-inter), sans-serif;
  font-style: normal;
  font-weight: 300;
  color: var(--color-text);
}