@import "tailwindcss";

:root {
  --color-bg: #feffe9;
  --color-text: #2e3105;
  --color-card: #f9f9f2;
  --color-border: #e5e5d8;
}

h1 {
  font-family: var(--font-tangerine), cursive;
  font-weight: 700;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-roboto_flex), sans-serif;
  font-weight: 400;
  color: var(--color-text);
}